/*
 Theme Name:   Twenty ten Child
 Theme URI:    http://wppicks.com/demo/wpzero/
 Description:  Twenty ten Child Theme
 Author:       Mero Box technologies Pvt. Ltd.
 Author URI:   http://merobox.com
 Template:     twentyten
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         black, blue, white, two-columns, fixed-layout, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style, custom-menu, flexible-header, featured-images, featured-image-header
 Text Domain:  twenty-fifteen-child
*/

body {
    background: #00c444 none repeat scroll 0 0 !important;
}

/* css for title */
#site-title a {color:  #00c444 !important;}
#access {background:#008000 !important;}
.menu ul li a:hover {background: #86E297 !important;}
#branding img{ border-bottom:none !important; border-top:4px solid #008000;}

#colophon{border-top:  solid 4px #008000 !important;}
.entry-title a:link, .entry-title a:visited{color:#008000 !important;;}
#site-generator a {display : block !important;}
#site-generator a { background-image: url("./images/merobox.png");!important;}
